<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:302,300i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!-- project stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'landing/css/style.css' %}" />
    <title>MavLink Made Easy</title>
</head>
<body>
<div class="container">
    <a href="{% url 'landing:login' %}">
        <img src="{% static 'landing/img/MMElogo.JPG' %}" alt="Logo" width="190" height="170" class="center" style="margin-top: -10px"/>
    </a>
    <hr>
{% block content %}
{% endblock %}
    <br>
    <hr>
    <div class="icons">
        <a href="{% url 'landing:login' %}"><i class="fas fa-bars fa-x"></i></a>
    </div>
    <p align="right"><i>a 2018 project party project | <a href="https://github.com/lkoperski/MavLinkMadeEasy">github</a></i></p>
</div>
</body>
</html>
