<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MavLINK Made Easy - Landing Page</title>
</head>
<body class="MAVfont">

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'landing/css/style.css' %}" />

<img src="{% static "landing/img/MMElogo.jpg" %}" alt="Logo" width="190" height="170"/>

{% block content %}
<h1> Enter Required Information </h1>
<form method="POST" class="email" id = "email">

    {% csrf_token %}

    <h3>email:</h3>
	<p name="emailbox" >{{emailForm.email}}</p>

    <h3>degree track:</h3>
    <p name ="degreedd" class="MAVselect">{{degreeForm.degree}}</p>

	<h3>major:</h3>
	<p name ="majordd" class="MAVselect">{{degreeForm.major}}</p>

	<button type="submit" name="submit" value="submit" class="MAVbutton" style="padding: 8px 8px">submit</button>

</form>
{% endblock%}

</br>
</br>






</body>
</html>
