<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MavLINK Made Easy - Landing Page</title>
</head>
<body class="MAVfont">

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'landing/style.css' %}" />

    <img src="{% static "landing/MMElogo.jpg" %}" alt="Logo" width="190" height="170"/>

    <form class="email" id="email">
        enter email
        </br>
        </br>
        <input type="text" name="email" class="MAVselect"> <input type="submit" value="submit" onclick="showSelectMajor()" class="MAVbutton" style="padding: 8px 8px">
    </form>
    <div class="select" id="selectMajor">
        <h3 style="font-size: 24pt; margin-bottom: -28px;">select degree</h3>
        </br>
        <p>
            <select class="MAVselect">
                <option selected disabled hidden>select degree</option>
                <option value="bachelor's of science">bachelor's of science</option>
                <option value="master's of science">master's of science</option>
                <option value="doctorate of science">doctrate of science</option>
            </select>
            in
            <select class="MAVselect">
                <option selected disabled hidden>select major</option>
                <option value="computer science">computer science</option>
                <option value="other">more majors coming soon!</option>
            </select>
        </p>
        </br>
        </br>

        <form method="post" action="/MavLinkMadeEasy/mavAgenda/templates/mme/landing.html">
            <button class="MAVbutton" type="submit">next</button>
        </form>

    </div>
    <div class="page-footer" w3-include-html="footing.html"></div>
</body>
</html>