{% extends 'landing/base.html' %}
{% block content %}
<br>
<div class="container" id="register">
<form class="email" id="email" action="{% url 'landing:selectcourses' %}" method="post">
    {% csrf_token %}
    <h3>Enter Email</h3>
    <input type="text" name="email" class="MAVselect" style="width:90%;"/>
    <br>
    <br>
    <br>
    <h3>Select Degree</h3>
    <div class="row" style="border:none; margin-top: 0px;">
        <select class="MAVselect">
            <option selected disabled hidden>select degree</option>
            <option value="BS">Bachelor of Science</option>
            <option value="BA">Bachelor of Arts</option>
            <option value="MS">Master of Science</option>
        </select>
        <p style="margin-top:20px;">in</p>
        <select class="MAVselect">
            <option selected disabled hidden>Select Major</option>
            <option value="CS">Computer Science</option>
            <option value="ALT">More majors coming soon!</option>
        </select>
    </div>
    <br>
        <input type="submit" value="submit" class="MAVbutton"/>
</form>
</div>
<br>
{% endblock %}
