<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MavLINK Made Easy - Landing Page</title>
</head>
<body>
    <div class="page header" w3-include-html="heading.html"></div>
    <div class="select-degree" style="text-align:center">
        <h3>Select your degree:</h3>
        <p>
            <select>
                <option selected disabled hidden>Select degree</option>
                <option value="Bachelor's">Bachelor's</option>
                <option value="Master's">Master's</option>
                <option value="Doctorate">Doctrate</option>
            </select>
            of
            <select>
                <option selected disabled hidden>Select college</option>
                <option value="Science">Science</option>
                <option value="Other">More Options Coming Soon!</option>
            </select>
            in
            <select>
                <option selected disabled hidden>Select degree</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Other">More Majors Coming Soon!</option>
            </select>
        </p>
        </br>
        </br>

        <form method="post" action="/MavLinkMadeEasy/mavAgenda/templates/mme/landing.html">
            <button type="submit">Next</button>
        </form>

    </div>
    <div class="page-footer" w3-include-html="footing.html"></div>
</body>
</html>