{% extends 'landing/base.html' %}
{% block content %}
<br>
<div class="container" id="register">
<form class="email" id="email" action="{% url 'landing:schedule' %}" method="post">
    {% csrf_token %}
    <h3>Login</h3>
    <input type="text" name="email" class="MAVselect" style="width:90%;"/>     
    <input type="submit" value="login" class="MAVbutton"/>
</form>
<br>
<br>
<h3>Register</h3>

<form class="select" id="joinnow" action="{% url 'landing:createuser' %}" method="post">
{% csrf_token %}<input type="submit" value="sign up!" class="MAVbutton"/>
</form>
</div>
<br>
{% endblock %}
