<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MavLINK Made Easy - Landing Page</title>
</head>
<body>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'landing/style.css' %}" />

<img src="{% static "landing/MMElogo.jpg" %}" alt="Logo" width="190" height="170"/>


<form class="email" id = "email" action="{% url 'landing:schedule' %}" method="post">
    {% csrf_token %}

    enter email
    </br>
    </br>
    <input type="text" name="email"/>
    <input type="submit" value="login" class="MAVbutton"  style="padding: 8px 8px"/>
</form>

</br>
</br>

<form class="joinnow" id = "joinnow" action="{% url 'landing:createuser' %}" method="post">
    {% csrf_token %}

    <p align="center">not a user?
    <input type="submit" value="sign up!" class="MAVbutton"  style="padding: 8px 8px"/>
    </p>
</form>

</body>
</html>