<!DOCTYPE html>
<html lang="en">
<head>
    <title>MavLINK Made Easy - Landing Page</title>
</head>

<body>

{% extends 'landing/base.html' %}
{% block content %}

<form class="email" id = "email" method="post">

    {% csrf_token %}

    </br>

    enter email
    <p class="errormessage" id="errormessage">{{message}}</p>
    <p name="emailbox" >
        {{emailForm.email}}
        <input type="submit" value="login" class="MAVbutton"  style="padding: 8px 8px"/>
    </p>

</form>

</br>
</br>

<form class="joinnow" id = "joinnow" action="{% url 'landing:createuser' %}" method="post">

    {% csrf_token %}

    <p align="center">not a user?
    <input type="submit" value="sign up!" class="MAVbutton"  style="padding: 8px 8px"/>
    </p>

</form>

{% endblock %}

</body>
</html>
