<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>schedule</title>
</head>
<body class="MAVfont">

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'landing/style.css' %}" />

<img src="{% static "landing/MMElogo.jpg" %}" alt="Logo" width="190" height="170"/>

<h3 align="center">your schedule</h3>

<div class="box">
    <p class="boxheader">fall 2018</p>
    <ul>(list a class here!)</ul>
    <ul>(list another class here!)</ul>
    <ul>(list yet another class here!)</ul>
</div>

<div class="box">
    <p class="boxheader">spring 2019</p>
    <p>(list all your classes here!</p>
</div>

<div class="box">
    <p class="boxheader">fall 2019</p>
    <p>(list all your classes here!</p>
</div>

<div class="box">
    <p class="boxheader">spring 2010</p>
    <p>(list all your classes here!</p>
</div>




</body>
</html>