<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MavLINK Made Easy - Select Courses Completed</title>
</head>
<body class="MAVfont">

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'landing/style.css' %}" />

<img src="{% static "landing/MMElogo.jpg" %}" alt="Logo" width="190" height="170"/>

<h3 align="center">Select courses completed</h3>
<p>Place a check mark next to the classes you've completed</p>

<form class="courseselect" id = "courseselect" action="{% url 'landing:schedule' %}" method="post">
    {% csrf_token %}

    <div class="box">
        <p class="boxheader">English Composition (9 credit hours)</p>
        <p><input id="engl1150"type="checkbox">
        <label for="engl1150">ENGL 1150 Composition I</label></p>
        <p><input id="engl1160"type="checkbox">
        <label for="engl1160">ENGL 1160 Composition II</label></p>
        <p><input id="cist3000"type="checkbox">
        <label for="cist3000">CIST 3000 Adv Comp for IS&T</label></p>

        <p class="boxheader">Mathematics (3 credit hours)</p>
        <p><input id="math1310"type="checkbox">
        <label for="math1310">MATH 1310 Intermediate Algebra</label></p>
        <p><input id="testout"type="checkbox">
        <label for="testout">Tested out</label></p>

        <p class="boxheader">Public Speaking (3 credit hours)</p>
        <p><input id="cmst1110"type="checkbox">
        <label for="cmst1110">CMST 1110 Public Speaking</label></p>
        <p><input id="cmst2120"type="checkbox">
        <label for="cmst2120">CMST 2120 Debate</label></p>

        <p class="boxheader">Humanities (9 credit hours)</p>
        <p><input id="cist3110a"type="checkbox">
        <label for="cist3110a">CIST 3110 IT Ethics</label></p>
        <p><input id="hum1"type="checkbox">
        <label for="hum1">Other Humanities Course I</label></p>
        <p><input id="hum2"type="checkbox">
        <label for="hum2">Other Humanities Course II</label></p>

        <p class="boxheader">Social Science (9 credit hours)</p>
        <p><input id="cist2100a"type="checkbox">
        <label for="cist2100a">CIST 2100 Orgs, Apps & Tech</label></p>
        <p><input id="ss1"type="checkbox">
        <label for="ss1">Other Social Science Course I</label></p>
        <p><input id="ss2"type="checkbox">
        <label for="ss2">Other Social Science Course II</label></p>

        <p class="boxheader">Natural/Physical Science (7 credit hours)</p>
        <p><input id="a1"type="checkbox">
        <label for="a1">Area 1 Course</label></p>
        <p><input id="a2"type="checkbox">
        <label for="a2">Area 2 Course</label></p>
        <p><input id="lab"type="checkbox">
        <label for="lab">Lab</label></p>

        <p class="boxheader">Global Diversity Course (3 credit hours)</p>
        <p><input id="gd"type="checkbox">
        <label for="gd">Global Diversity Course</label></p>

        <p class="boxheader">US Diversity Course (3 credit hours)</p>
        <p><input id="usd"type="checkbox">
        <label for="usd">US Diversity Course</label></p>
    </div>
    <div class="box">
        <p class="boxheader">IS&T Core Courses (18 credit hours)</p>
        <p><input id="cist1400"type="checkbox">
        <label for="cist1400">CIST 1400 Intro to Comp Prgm</label></p>
        <p><input id="cist1404"type="checkbox">
        <label for="cist1404">CIST 1404 Intro to Comp Prgm Lab (optional)</label></p>
        <p><input id="csci1620"type="checkbox">
        <label for="csci1620">CSCI 1620 Intro to Comp Science II</label></p>
        <p><input id="csci2240"type="checkbox">
        <label for="csci2240">CSCI 2240 Intro to C Programming</label></p>
        <p><input id="cist2100b"type="checkbox">
        <label for="cist2100b">CIST 2100 Orgs, Apps & Technology</label></p>
        <p><input id="cist2500"type="checkbox">
        <label for="cist2500">CIST 2500 Intro to Applied Statictics</label></p>
        <p><input id="cist3110b"type="checkbox">
        <label for="cist3110b">CIST 3110 IT Ethics</label></p>

        <p class="boxheader">Mathematics Courses (16 credit hours)</p>
        <p><input id="math1950"type="checkbox">
        <label for="math1950">MATH 1950 Calculus I</label></p>
        <p><input id="math1960"type="checkbox">
        <label for="math1960">MATH 1960 Calculus II</label></p>
        <p><input id="csci2030"type="checkbox">
        <label for="csci2030">CSCI 2030 Math Foundations of CS</label></p>
        <p><input id="math2050"type="checkbox">
        <label for="math2050">MATH 2050 Applied Linear Algebra</label></p>

        <p class="boxheader">Computer Science Core Courses (27 credit hours)</p>
        <p><input id="csci3320"type="checkbox">
        <label for="csci3320">CSCI 3320 Data Structures</label></p>
        <p><input id="csci3710"type="checkbox">
        <label for="csci3710">CSCI 3710 Intro to Digital Design</label></p>
        <p><input id="csci3550"type="checkbox">
        <label for="csci3550">CSCI 3550 Communication Networks</label></p>
        <p><input id="csci3660"type="checkbox">
        <label for="csci3660">CSCI 3660 Theory of Computation</label></p>
        <p><input id="csci4350"type="checkbox">
        <label for="csci4350">CSCI 4350 Computer Architecture</label></p>
        <p><input id="csci4500"type="checkbox">
        <label for="csci4500">CSCI 4500 Operating Systems</label></p>
        <p><input id="csci4830"type="checkbox">
        <label for="csci4830">CSCI 4830 Intro to SW Engineering</label></p>
        <p><input id="csci4970"type="checkbox">
        <label for="csci4970">CSCI 4970 Capstone Project</label></p>
        <p><input id="csci4000"type="checkbox">
        <label for="csci4000">CSCI 4000 Assessment (MFT)</label></p>

        <p class="boxheader">Elective Courses (7 credit hours)</p>
    </div>
    <div class="box">
        <p class="boxheader">Core Extension Courses (21 credit hours)</p>
    </div>


    <input type="submit" value="Submit" class="MAVnextbutton" style="padding: 8px 8px"/>

</form>

</body>
</html>