<!DOCTYPE html>
<html lang="en">
<head>
    <title>MavLINK Made Easy - Select Courses Completed</title>
</head>
<body>

{% extends 'landing/base.html' %}
{% block content %}

<h3 align="center">select courses completed</h3>
<p>place a check mark next to the classes you've completed</p>

<h1> Select the classes you've taken </h1>
<form method="POST" class="usercompleted-form">

    {% csrf_token %}

    {% for cb in {{checkBoxes}} %}
        <p><input type="checkbox" name={{cb.num}}>{{cb.name}}</p>
    {% endfor %}

	<button type="submit" class="MAVnextbutton" style="padding: 8px 8px">Submit</button>
</form>
{% endblock%}

</body>
</html>